################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
/.vs/IML-Host/v15/Server/sqlite3
